body {
	font-family: arial, sans-serif;
	font-size: 12px;
}
.memoPreviewFoxLogo {
	width: 86px;
	float: left;
}
p {
	padding-bottom: 10px;
}
.tab {		
	width: 8px;
	padding-left: 15px;
	display: inline-block;
	float: none;
	clear: both;
}
.legalClearanceTitle {
	float: left;
	width: 512px;
	padding-left: 50px;
	font-size: 28px;
	clear: right;
}
.memoPreviewFoxLogoImg {
	width: 87px;
	height: 60px;
	float: left;
}
.twentiethCenturyFoxTitleFont {
	float: left;
	font-family: 'Century Gothic';
	width: 612px;
	text-align: left;
	clear: both;
}
.twentiethCenturyFoxSubTitleFont {
	font-size: 6px;	
	line-height: 7px;
	width: 202px;	
	float: left;	
	font-family: 'Century Gothic';
	text-align: left;	
}
.memoPreviewContentPrivileged {
	float: left;
	width: 404px;		
}
.underlineCaps {
	font-size: 10px;
	text-decoration: underline;
	text-align: center;
	width: 612px;
}
.underline{
	text-decoration: underline;
}
.clearanceReportHeader {
	width: 612px;
}
.clearanceReportContentTOC {
	width: 612px;
}
.tocHeader {
	width: 150px;
	float: left;
}
.tocSubHeader {
	width: 450px;
	float: left;
}
.tocPosition {
	width: 50px;
	float: left;
}
.tocTitle {
	width: 300px;
	float: left;
}
.tocItemStatus {
	width: 250px;
	float: left;
}
.header {
	width: 612px;	
	padding-top: 10px;
	float: left;
}
.subHeader {
	width: 612px;
	padding-top: 10px;
	float: left;
}
.paragraph {
	width: 612px;
	padding-top: 10px;
	float: left;
}
.subParagraph {
	width: 612px;
	padding-top: 10px;
	float: left;
}


.contentRow {

}
.contentPosition {
	width: 50px;
	vertical-align:top;
	padding-bottom:10px;
	font-family: arial, sans-serif;
	font-size: 12px;
		
	/*
	float: left;
	*/
}

.clearanceReportContent {
	width: 612px;
	vertical-align:top;	
	padding-bottom:10px;
	font-family: arial, sans-serif;
	font-size: 12px;
		
}



.contentTitle {
	float: left;
	clear: right;
	text-decoration: underline;
	padding-bottom:5px;
}
/*
.headerContent {
	word-break:break-all;	
	width: 612px;
	padding-left: 50px;
	display: inline-block;
	float: none;
	clear: both;
}
*/
/*
.contentNoTitle {
	word-break:break-all;	
	padding-left: 0;
  float: left;
  clear: none;  
  width: 550px;
}
*/
/*
.subHeaderContent {
	word-break:break-all;	
	width: 612px;
	padding-left: 50px;
	display: inline-block;
	float: none;
	clear: both;
}
*/
.paragraphContent {
	word-break:break-all;	
	width: 612px;
	padding-left: 50px;
	display: inline-block;
	float: none;
	clear: both;
}
.subParagraphContent {
	word-break:break-all;	
	width: 612px;
	padding-left: 50px;
	display: inline-block;
	float: none;
	clear: both;
}
pre {
  display: block;
  padding: 0;
  margin: 0;    
  line-height: normal;
  color: black;
  word-break: normal;
  word-wrap: normal;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
  overflow: auto;
  background-color: white;
  border: 0;
  border-radius: 0;
}
.pageBreak {
	page-break-after:always;
}
